*{
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: black;
  }
  header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  }
  
  .header-left {
    color: white;
    font-size: 13px;
    padding-left: 25px;
    font-family: 'Saira Condensed', sans-serif;
  }
  
  .h1 {
    margin-left: 10px;
  }

  a {
    color: white;
    text-decoration: none;
    list-style: none;
  }

  a:hover {
    color: white;
    list-style: none;
    text-decoration: none;
  }
  
  .nav {
    display: flex;
    list-style: none;
  }
  
  .nav > li > a {
    color: white;
    font-size: 15px;
    margin: 20px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
  }
  
  .nav > li > a {
    position: relative;
  }
  
  .nav li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background:white;
    transition: all .3s;
    transform: scale(0, 1);
    transform-origin: center top;
  }
  
  .nav li.current a::after,
  .nav li a:hover::after {
      transform: scale(1, 1);
  }

  .art {
    font-size: 50px;
    color: white;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
  }

  .art span{
    opacity: 0;
  }
  .art.appearRandomtext span{ 
    animation:text_randomanime_on .5s ease-out forwards;
  }
  
  @keyframes text_randomanime_on {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  .art.appearRandomtext span:nth-child(2n) {
    animation-delay: .5s;
  }
  .art.appearRandomtext span:nth-child(3n+1) {
    animation-delay: .15s;
  }

 img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  }

  .card {
    height: 600px;
    object-fit: cover;
  }

  .paint {
    overflow: hidden;
    /* width: 350px; */
    /* height: 240px; */
  }
  .card img {
    /* width: 350px; */
    display: block;
    transition: 0.5s;
  }
  .paint img:hover {
    transform: scale(1.1, 1.1);
  }

  footer {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 30px;
  }

  footer {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
  }
  