*{
    margin: 0;
    padding: 0;
  }
  
  header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  }
  
  .header-left {
    color: white;
    font-size: 13px;
    padding-left: 25px;
    font-family: 'Saira Condensed', sans-serif;
  }
  
  .h1 {
    margin-left: 10px;
  }

  a {
    color: white;
    text-decoration: none;
    list-style: none;
  }

  a:hover {
    color: white;
    list-style: none;
    text-decoration: none;
  }
  
  .nav {
    display: flex;
    list-style: none;
  }
  
  .nav > li > a {
    color: white;
    font-size: 15px;
    margin: 20px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
  }
  
  .nav > li > a {
    position: relative;
  }
  
  .nav li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background:white;
    transition: all .3s;
    transform: scale(0, 1);
    transform-origin: center top;
  }
  
  .nav li.current a::after,
  .nav li a:hover::after {
      transform: scale(1, 1);
  }

  .info {
    font-size: 50px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;
  }

  .detail {
    font-size: 25px;
    text-align: center;
    font-family: 'Wire One', sans-serif;
    margin-bottom: 30px;
  }

.top-news img {
  height: 210px;
  border-radius: 10px;
}

.top-topics {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}
.top-topics .image {
  width: 640px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.top-topics .right {
  margin: 0 0 0 20px;
  padding: 0;
}
.top-topics .title {
  margin: 10px;
  padding: 0;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}
.top-topics .text {
  margin: 10px 10px 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}
.top-topics .image {
  overflow: hidden;
  position: relative;
}
.top-topics .image::before {
  content: "";
  display: block;
  padding-top: 58%;
}
.top-topics .image img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.date {
  text-align: right;
  font-weight: bolder;
  font-family: 'Oswald', sans-serif;
}
@media screen and (max-width:600px) {
  .text {
    display: none;
  }
  .top .title {
    font-size: 25px;
  }
  .top-news img {
    width: 30vh;
  }
  .title h1 {
    font-size: 10px;
  }
}

.second-news img {
  height: 210px;
  width: 315px;
  border-radius: 10px;
  text-align: center;
}
.second-topics {
  display: flex;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
}
.second-news .image {
  width: 100px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.second-topics .right {
  margin: 0 0 0 20px;
  padding: 0;
}
.second-topics .title-two {
  margin: 10px;
  padding: 0;
  font-weight: bold;
  font-size: 30px;
}
.second-topics .text-two {
  margin: 10px 20px 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}
.second-news .image {
  overflow: hidden;
  position: relative;
}
.second-news .image::before {
  content: "";
  display: block;
  padding-top: 58%;
}
.second-news .image img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0px;
  bottom: 0;
  margin: auto;
}
.date-two {
  text-align: right;
  font-weight: bolder;
  font-family: 'Oswald', sans-serif;
}
@media screen and (max-width:600px) {
  .text-two {
    display: none;
  }
  .second .title-two {
    font-size: 20px;
  }
  .second-news img {
    width: 30vh;
  }
}

.third-news img {
  height: 210px;
  width: 315px;
  border-radius: 10px;
  text-align: center;
}
.third-topics {
  display: flex;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
}
.third-news .image {
  width: 100px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.third-topics .right {
  margin: 0 0 0 20px;
  padding: 0;
}
.third-topics .title-three {
  margin: 10px;
  padding: 0;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}
.third-topics .text-three {
  margin: 10px 35px 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}
.third-news .image {
  overflow: hidden;
  position: relative;
}
.third-news .image::before {
  content: "";
  display: block;
  padding-top: 58%;
}
.three-news .image img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0px;
  bottom: 0;
  margin: auto;
}
.date-three {
  text-align: right;
  font-weight: bolder;
  font-family: 'Oswald', sans-serif;
}
@media screen and (max-width:600px) {
  .text-three {
    display: none;
  }
  .third .title {
    font-size: 5px;
    font-family: 'Oswald', sans-serif;
  }
  .third-news img {
    width: 30vh;
  }
  .third .title-three {
    font-size: 20px;
  }
}

.img {
	opacity: 0;
}

.fadeUp {
animation-name:fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity: 0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }

  to {
    opacity: 1;
	transform: translateY(0);
  }
}

.info,.detail span{
  opacity: 0;
}
.info,.detail,.appearRandomtext span{ 
  animation:text_randomanime_on .5s ease-out forwards;
}

@keyframes text_randomanime_on {
  0% {opacity:0;}
  100% {opacity:1;}
}

.info,.detail,.appearRandomtext span:nth-child(2n) {
  animation-delay: .5s;
}
.info,.detail,.appearRandomtext span:nth-child(3n+1) {
  animation-delay: .15s;
}

.acount a {
  text-decoration: none;
  list-style: none;
  color: white;
}
  footer {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 0px;
    font-family: 'Oswald', sans-serif;
  }