@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@-webkit-keyframes openingKv {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes openingKv {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*{
  margin: 0;
  padding: 0;
}

header {
background-color: black;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
height: 90px;
}

.header-left {
  color: white;
  font-size: 13px;
  padding-left: 25px;
  font-family: 'Saira Condensed', sans-serif;
}

.h1 {
  margin-left: 10px;
}

.nav {
  display: flex;
  list-style: none;
}

.nav > li > a {
  color: white;
  font-size: 15px;
  margin: 20px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

.nav > li > a {
  position: relative;
}

.nav li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  background:white;
  transition: all .3s;
  transform: scale(0, 1);
  transform-origin: center top;
}

.nav li.current a::after,
.nav li a:hover::after {
    transform: scale(1, 1);
}


.main-visual {
  background-image: url(./img/KAI\ ExpandConnect\ official\ web\ site.jpg);
  height: 100vh;
  width: 100%;
  margin: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  justify-content: flex-end;
  /* margin-bottom: 100px; */
  -webkit-animation: openingKv 5s ease both;
          animation: openingKv 5s ease both;
}

/* .main-visual__title {
  font-family: 'Oswald', sans-serif;
  position: relative;
  top: -5%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 80px;
} */

h2 {
  margin-top: 80px;
  padding: 25px, 25px, 25px, 25px;
  font-size: 50px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

@media screen and (max-width: 780px) {
  .main-visual {
    background-position: center;
  }
}


  .slider {
    width:94%;
    margin:0 auto;
}

.slider img {
    width:60vw;
    height:auto;
}

.slider .slick-slide {
	transform: scale(0.8);
	transition: all .5s;
	opacity: 0.5;
}

.slider .slick-slide.slick-center{
	transform: scale(1);
	opacity: 1;
}

.slick-prev, .slick-next {
    position: absolute;
    top: 42%;
    cursor: pointer;
    outline: none;
    border-top: 2px solid #666;
    border-right: 2px solid #666;
    height: 15px;
    width: 15px;
}

.slick-prev {
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {
    right: -1.5%;
    transform: rotate(45deg);
}

.slick-dots {
    text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;
    height:8px;
    display:block;
    border-radius:50%;
    background:#ccc;
}

.slick-dots .slick-active button{
    background:#333;
}

h3 {
  margin-top: 80px;
  padding: 25px, 25px, 25px, 25px;
  font-size: 50px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  background-color: black;
  color: white;
  margin-bottom: 0px;
}

.instagram {
  display: flex;
  background-color: black;
  margin-bottom: 0px;
}


footer {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 30px;
}


/*# sourceMappingURL=style.css.map */