*{
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: black;
  }
  header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  }
  
  .header-left {
    color: white;
    font-size: 13px;
    padding-left: 25px;
    font-family: 'Saira Condensed', sans-serif;
  }
  
  .h1 {
    margin-left: 10px;
  }

  a {
    color: white;
    text-decoration: none;
    list-style: none;
  }

  a:hover {
    color: white;
    list-style: none;
    text-decoration: none;
  }
  
  .nav {
    display: flex;
    list-style: none;
  }
  
  .nav > li > a {
    color: white;
    font-size: 15px;
    margin: 20px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
  }
  
  .nav > li > a {
    position: relative;
  }
  
  .nav li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background:white;
    transition: all .3s;
    transform: scale(0, 1);
    transform-origin: center top;
  }
  
  .nav li.current a::after,
  .nav li a:hover::after {
      transform: scale(1, 1);
  }

  @media screen and (max-width:600px) {
      .header-right{
          display: none;
      }
  }

  footer {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 30px;
  }

  footer {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
  }

  /* .galley { */
    
  /* } */

.box {
	display: flex;
	justify-content: space-between;
  text-align: center;
}

.box img {
  width:95%;
  height: 400px;
  margin-bottom: 20px;
}

.box2 {
  display: flex;
	justify-content: space-between;
  text-align: center;
}

.box2 img {
  width: 110%;
  height: 300px;
  margin-bottom: 20px;
}

.box3 {
  display: flex;
	/* justify-content: space-between; */

  text-align: left;
}

.box3 img {
  width: 95%;
  height: 300px;
  margin-bottom: 20px;
  
}

@media screen and (max-width:600px) {
  .box {
    display: block;
    text-align: center;
  }
  .box2 {
    display: block;
    width: 95%;
    /* margin: 0 auto; */
    text-align: center;
  }
}

.art {
  color: white;
  font-family: 'Saira Condensed', sans-serif;
  margin-left: 20px;
}