*{
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: black;
  }
  header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  }
  
  .header-left {
    color: white;
    font-size: 13px;
    padding-left: 25px;
    font-family: 'Saira Condensed', sans-serif;
  }
  
  .h1 {
    margin-left: 10px;
  }

  a {
    color: white;
    text-decoration: none;
    list-style: none;
  }

  a:hover {
    color: white;
    list-style: none;
    text-decoration: none;
  }
  
  .nav {
    display: flex;
    list-style: none;
  }
  
  .nav > li > a {
    color: white;
    font-size: 15px;
    margin: 20px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
  }
  
  .nav > li > a {
    position: relative;
  }
  
  .nav li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background:white;
    transition: all .3s;
    transform: scale(0, 1);
    transform-origin: center top;
  }
  
  .nav li.current a::after,
  .nav li a:hover::after {
      transform: scale(1, 1);
  }

  @media screen and (max-width:600px) {
      .header-right{
          display: none;
      }
  }

  footer {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 30px;
  }

  footer {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
  }
  
  .main-visual {
    background-image: url(../img/main-illustrator.JPG);
    height: 130vh;
    width: 100%;
    margin: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: flex-end;
    -webkit-animation: openingKv 5s ease both;
    animation: openingKv 5s ease both;
  }

  
  @media screen and (max-width:600px) {
    .main-visual {
      height:30vh ;
      width: 100%;
    }
  }

  .details {
      color: white;
      text-align: center;
      margin: 50px;
      font-weight: bold;
      font-family: 'Saira Condensed', sans-serif;
  }

  @media screen and (max-width:600px) {
      .details {
          font-size: 16px;
          font-weight: bold;
          font-family: 'Saira Condensed', sans-serif;
      }
  }

  .card-text {
      font-size: 13px;
      font-family: 'Saira Condensed', sans-serif;
  }

  .card-title {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      font-family: 'Saira Condensed', sans-serif;
  }

  .btn {
      display: block;
      margin: 0 auto;
      font-weight: bold;
      font-family: 'Saira Condensed', sans-serif;
      transition: all 0.4s ease-out;
  }

  .btn:hover{
    border-color:transparent;
    color: #fff;
    background: linear-gradient(270deg, #fa6c9f 0%, #ffe140 50%, #ff357f 100%);
    background-size: 200% auto;
    background-position: right center; 
    box-shadow: 0 5px 10px rgb(250,108,159,0.4);
}

  .paint{
    margin: 60px;
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: 'Saira Condensed', sans-serif;
  }
  .box img {
    width:50%;
    height: 510px;
    /* text-align: center; */
    flex: center;
    margin-bottom: 30px;
    margin-top: 30px;
    text-decoration: none;
    list-style: none;
  }
  .box > li {
    text-decoration: none;
    list-style: none;
  }
  .box{
    text-align: center;
    margin-top: 30px;
  }
  
  @media screen and (max-width:600px) {
    .box img {
      width:80%;
      height: 310px;
      margin: 10px;
    }
  }

  .gradient4{
    display: inline-block;
    padding: 18px 60px;  
    border-radius:5px;
    text-decoration: none;
    border:1px solid white;
    color:white;
    outline: none;
    font-family: 'Saira Condensed', sans-serif;
    transition: all 0.4s ease-out;
    margin-top: 50px;
    margin-bottom: 30px;
}

.gradient4:hover{
    border-color:transparent;
    color: #fff;
    background: linear-gradient(270deg, #fa6c9f 0%, #ffe140 50%, #ff357f 100%);
    background-size: 200% auto;
    background-position: right center; 
    box-shadow: 0 5px 10px rgb(250,108,159,0.4);
}

.choice {
    display: inline-block;
    /* flex-direction: column; */
    text-align: center;
    background-color: gray;
}

.guide {
    color: white;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 40px;
}

@media screen and (max-width:600px) {
  .guide {
    font-size: 20px;
    font-family: 'Saira Condensed', sans-serif;
  }
}

.gradient3{
    display: inline-block;
    /* flex-direction: column; */
    text-align: center;
    padding: 20px 40px;  
    border-radius:5px;
    text-decoration: none;
    border:1px solid white;
    color:white;
    background-color: black;
    outline: none;
    font-family: 'Saira Condensed', sans-serif;
    transition: all 0.4s ease-out;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 40em;
}

.gradient3:hover{
    border-color:transparent;
    color: #fff;
    background: linear-gradient(270deg, #fa6c9f 0%, #ffe140 50%, #ff357f 100%);
    background-size: 200% auto;
    background-position:  center; 
    box-shadow: 0 5px 10px rgb(250,108,159,0.4);
}

@media screen and (max-width:600px) {
    .gradient3 {
        width: 20em;
    }
}

.paint,.guide,.details,span{
  opacity: 0;
}
.paint,.guide,.details, .appearRandomtext span{ 
  animation:text_randomanime_on .5s ease-out forwards;
}

@keyframes text_randomanime_on {
  0% {opacity:0;}
  100% {opacity:1;}
}

.paint, .guide, .details, .appearRandomtext span:nth-child(2n) {
  animation-delay: .5s;
}
.paint, .guide, .details, .appearRandomtext span:nth-child(3n+1) {
  animation-delay: .15s;
}