*{
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: black;
  }
  header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  }
  
  .header-left {
    color: white;
    font-size: 13px;
    padding-left: 25px;
    font-family: 'Saira Condensed', sans-serif;
  }
  
  .h1 {
    margin-left: 10px;
  }

  a {
    color: white;
    text-decoration: none;
    list-style: none;
  }

  a:hover {
    color: white;
    list-style: none;
    text-decoration: none;
  }
  
  .nav {
    display: flex;
    list-style: none;
  }
  
  .nav > li > a {
    color: white;
    font-size: 15px;
    margin: 20px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
  }
  
  .nav > li > a {
    position: relative;
  }
  
  .nav li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background:white;
    transition: all .3s;
    transform: scale(0, 1);
    transform-origin: center top;
  }
  
  .nav li.current a::after,
  .nav li a:hover::after {
      transform: scale(1, 1);
  }

  @media screen and (max-width:600px) {
      .header-right{
          display: none;
      }
  }

  footer {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 30px;
  }

  footer {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
  }

  .ilust {
      color: white;
      font-size: 50px;
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      margin-bottom: 50px;
  }

  .card-deck {
      margin-bottom: 50px;
      font-family: 'Saira Condensed', sans-serif;
  }

  .btn {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    font-family: 'Saira Condensed', sans-serif;
    transition: all 0.4s ease-out;
}

.btn:hover{
  border-color:transparent;
  color: #fff;
  background: linear-gradient(270deg, blue 0%, aqua 50%, steelblue 100%);
  background-size: 200% auto;
  background-position: right center; 
  box-shadow: 0 5px 10px rgb(250,108,159,0.4);
}

.ilust,span{
    opacity: 0;
  }
  .ilust, .appearRandomtext span{ 
    animation:text_randomanime_on .5s ease-out forwards;
  }
  
  @keyframes text_randomanime_on {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  .ilust, .appearRandomtext span:nth-child(2n) {
    animation-delay: .5s;
  }
  .ilust, .appearRandomtext span:nth-child(3n+1) {
    animation-delay: .15s;
  }